/*Colour palette
English violet #3F3340
English violet #574B60
Slate grey #7D8491
Silver #C0C5C1
Beige #EAFOCE

*/

/*Global Styles
---------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

  
  
header{
    background-color: #7D8491;
    padding: 10px;
    margin:auto;
    height:20%;
}

h1 {
    text-align: center;
    font-size: 7.0rem;
    line-height: 7rem;
    color: #000;/*#ffffff, alternative white*/
  }
  
  h2{
    font-size: 3.0rem;
  }
  h2, h3, h4, h5, h6{
    text-align: left;
    color: #000;
    font-family: "Helveltica", sans-serif;
  }

  h2.center{
    padding-left: 45px;
  }

  body{
    
    font-family: "Helveltica", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    height:100%;
    width:100%;
    color:#000;
    background-color: #C0C5C1;
    margin: 0;
  }

  /*Navigation 
  ----------------*/

.topnav {
    overflow: hidden;
    background-color: #355FB9;
  }
  
  .flex-nav{
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 20%;
    justify-content: space-around;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #FF8000;
    color: #FFFFFF;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  